{% capture content %}
      
      <script type="text/javascript">
                console.log({{site.posts | json}});

              </script>
    
     {% include 'includes/global-nav' %}

    <article class="twelve columns omega offset-by-one clearfix">
         

        {% include 'includes/latest-posts' %}



        {{ body }}


        <ul>
{% for set in taxonomy %}
  <li>{{set.key}} ({{set | size}} tags)
    <ul>
    {% for tag in set %}
      <li><a href="{{tag.url}}">{{tag.value}}</a></li>
    {% endfor %}
    </ul>
  </li>
{% endfor %}
</ul>
      

    </article>


   
    
  




{% endcapture %}

{% include 'layouts/default' %}