nav.posts {
  position: fixed;
  margin-top: 3.75em; }

nav.posts ul {
  padding-left: 0em; }

nav.posts ul li:first-child {
  margin-bottom: 5em; }

.latest-posts, .page-links {
  list-style: none;
  padding: 0em; }

.latest-posts a {
  display: block; }

.latest-posts a:hover {
  background: black;
  color: white; }

article img {
  max-width: 100%;
  margin: 0.5em 0em; }

article iframe {
  max-width: 100%; }

article {
  margin-bottom: 20em; }
