<html>
    <head>
        <title>{{ title }}</title>
        <link rel="stylesheet" type="text/css" href="{{site.url}}/assets/style/css/site.css">
        <link href="//cloud.webtype.com/css/298e0648-e1d9-4a0b-b602-38c63a494af9.css" rel="stylesheet" type="text/css" />
       <link rel="stylesheet" href="//f.fontdeck.com/s/css/WI5DkarIZ0108gQIZ82W3uC6iMA/biggerthan.siteleaf.dev/48594.css" type="text/css" />
    </head>
    <body>
    	<div class="container">
	        {{ content }}
        </div>
    </body>
</html>